body{
font-family: Arial, sans-serif;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-container{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#007bff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

a{
color:#007bff;
text-decoration:none;
}
.dashboard{
display:flex;
}

.sidebar{
width:200px;
background:#eee;
padding:20px;
}

.content{
flex:1;
padding:20px;
}
body{
margin:0;
font-family:Arial;
}

.topbar{
display:flex;
justify-content:space-between;
padding:15px;
background:black;
color:white;
}

.topbar a{
color:white;
margin-left:15px;
text-decoration:none;
}

.landing{
text-align:center;
padding:60px;
background:#f4f4f4;
}

.landing button{
padding:10px 20px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
}

.chart-section{
padding:40px;
text-align:center;
}
body{
margin:0;
font-family:Arial;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
background:black;
color:white;
padding:15px;
}

.navbar a{
color:white;
margin-left:15px;
text-decoration:none;
}


/* Hero */

.hero{
text-align:center;
padding:80px;
background:#f4f4f4;
}

.hero button{
padding:10px 20px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
}


/* Products */

.products{
padding:40px;
text-align:center;
}

.product-grid{
display:flex;
justify-content:center;
gap:20px;
}

.card{
border:1px solid #ddd;
padding:20px;
width:150px;
border-radius:8px;
}

.card button{
margin-top:10px;
padding:5px 10px;
}


/* Chart */

.chart{
padding:40px;
text-align:center;
}